//Style commun à tous les éléments
body {
  header {
    height: 30vh;
    background: linear-gradient(
      20deg,
      rgba(203, 203, 203, 0.693),
      rgba(238, 49, 248, 0.424)
    );


    .listTri {
      float: left;
    }
  }
}
