//Style commun à tous les éléments

::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  padding-top: 40px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(127, 255, 212, 0.575);
  h1 {
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .toggle {
    margin: 25px 0;
  }
  .listTri {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #1195a1;
    li {
      float: left;
      border: 0.5px solid lightgray;
      padding: 5px;
    }
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

main {
  height: auto;
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  width: 250px;
  height: 360px;
  margin: 25px 25px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: rgba(78, 238, 113, 0.2);
  box-shadow: 0px 0px 10px 0px #000;
}

.img {
  height: 130px;
  width: 250px;
  object-fit: contain;
  background-color: white;
  border-radius: 5px 5px 0px 0px;
}
.card-body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  height: 230px;

  .h2 {
    font-size: 2em;
    font-weight: 600;
    text-decoration: underline darkcyan;
    text-align: center;
    margin: 0 8px 10px 8px;
  }
  .item {
    margin: 5px 0;
    text-align: center;
    line-height: 20px;
    font-size: 1.3em;
    padding: 0 5px;
  }
}
//responsive
@media screen and (max-width: 400px) {
  main {
    max-width: 400px;
  }
}
@media screen and (min-width: 400px) {
  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    min-width: 400px;
  }
} ;
