.toggle {
  --width: 80px;
  --height: calc(var(--width) / 3);

  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: var(--height);
  cursor: pointer;
}

.toggle input {
  display: none;
}

.toggle .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--height);
  background-color: #ccc;
  transition: all 0.4s ease-in-out;
}

.toggle .slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--height));
  height: calc(var(--height));
  border-radius: calc(var(--height) / 2);
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}

.toggle input:checked + .slider {
  background-color: #2196f3;
}

.toggle input:checked + .slider::before {
  transform: translateX(calc(var(--width) - var(--height)));
}
main {
  background-color: #ffffff;
  color: #333333;
}

main.dark-mode {
  background-color: #333333;
  width: 400px;
  color: #ffffff;
}

//checkout
#cart{
  background-image: url(/images/cart_a.svg) ;
  background-size: 80px;
  opacity: 75%;
  height: 80px;
  width:80px;
  background-repeat: no-repeat;
  cursor:pointer;
  position:fixed;
  top: 10px;
  right: 0;
  #checkout{
    visibility: hidden;
  }
}

//filter
.listTri {
  list-style-type: none;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0 10px;
  
  li {
   
    border: 2px solid rgba(0, 0, 0, 0.849);
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(245, 245, 245, 0.664);
    padding: 0 3px;
    text-align: center;
    color: #353535;
    font-size: 1.5em;
    cursor: pointer;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 70px;
  }}
  .btnPanier{
    cursor:pointer;
    width: 38%;
    height: 30px;
    margin: 0 auto;
    color: white;
    background-color: #333333;
    border-radius: 10px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

