.toggle {
  --width: 80px;
  --height: calc(var(--width) / 3);

  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: var(--height);
  cursor: pointer;
}

.toggle input {
  display: none;
}

.toggle .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--height);
  background-color: #ccc;
  transition: all 0.4s ease-in-out;
}

.toggle .slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--height));
  height: calc(var(--height));
  border-radius: calc(var(--height) / 2);
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}

.toggle input:checked + .slider {
  background-color: #2196f3;
}

.toggle input:checked + .slider::before {
  transform: translateX(calc(var(--width) - var(--height)));
}
main {
  background-color: #ffffff;
  color: #333333;
}

main.dark-mode {
  background-color: #333333;
  color: #ffffff;
}
.listTri {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #1195a1;
  li {
    text-transform: capitalize;
    cursor: pointer;
    float: left;
    border: 0.5px solid lightgray;
    padding: 5px;
  }
}
//filter
.listTri {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  li {
    float: left;
    border: 3px solid rgba(192, 14, 14, 0.849);
    border-radius: 10px 10px 0 0;
    background-color: #21ecf3;
    box-shadow: 0 -3px 3px 3px rgba(0, 0, 0, 0.185);
    padding: 5px;
    font-size: 1.5em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}}