body {
  background-color: #ffffff;

  color: #333333;
  .dark-mode {
    background-color: #333333;
    color: #ffffff;
  }

  header {
    #darkmode {
      display: none;
    }
    .back {
      margin: 30px;
      height: 30px;
      width: 70px;
      border-radius: 30px;
      background: #333333;
      position: relative;
      .boule {
        position: absolute;
        align-items: center;
        margin: 4px 0 0 4px;
        background-color: white;
        height: 20px;
        width: 20px;
        border-radius: 30px;
      }
    }
  }
}

//filter
.listTri {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    border: solid 3px white;
    border-radius: 10px 10px 0 0;
    background-color: #ba529995;
    box-shadow: 0 -3px 3px 3px rgba(0, 0, 0, 0.185);
    padding: 5px;
    font-size: 1.5em;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-transform: capitalize;
    cursor: pointer;
    float: left;
    padding: 5px;
  }
}
