/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-image: url("/images/header_background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: row;
  position: relative;
  height: 275px;
  overflow: hidden;
  text-align: center;
}

.logos-header {
  display: inline-block;
  justify-content: space-between;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 260px;
  width: 260px;
  max-width: 100%;
}
.logos-header .livraison {
  height: 35px;
  width: 35px;
}
.logos-header .livraison img {
  width: 100%;
  height: 100%;
}
.logos-header .livraison .logo {
  height: 250px;
  width: auto;
  max-width: 100%;
}
.logos-header .livraison .logo img {
  width: 250px;
  height: auto;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: #303030;
  margin-top: 20px;
}

.toggle {
  position: absolute;
  top: 10px;
  right: 0;
  transform: translateX(-50%);
  height: 25px;
}

.listTri {
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  font-size: 8px;
  font-weight: bold;
  color: white;
  white-space: nowrap;
}

/*.listTri ul {
  display: ;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}*/
.listTri li {
  display: inline;
  margin: 0 10px;
  padding: 0;
}

body {
  max-width: 1300px;
  margin: 0;
  padding: 0;
  font-family: fantasy;
  font-size: 12px;
}
body aside {
  height: 320px;
  width: 125px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: wheat;
  border: solid 3px rgb(80, 80, 80);
}
body main {
  height: auto;
  display: flex;
  padding-top: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px 10px;
}
body .card {
  width: 250px;
  height: 360px;
  margin: 25px 25px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: rgba(170, 170, 170, 0.699);
  box-shadow: 0px 0px 10px 0px #000;
}
body .card .img {
  height: 130px;
  width: 250px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: white;
  border-radius: 5px 5px 0px 0px;
}
body .card .card-body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  height: 230px;
}
body .card .card-body .h2 {
  font-size: 2em;
  font-weight: 500;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  -webkit-text-decoration: underline rgb(48, 48, 48);
          text-decoration: underline rgb(48, 48, 48);
  line-height: 50px;
  color: rgb(75, 75, 75);
  text-align: center;
  margin: 0 8px 10px 8px;
}
body .card .card-body .item {
  margin: 5px 0;
  text-align: center;
  line-height: 20px;
  font-size: 1.3em;
  padding: 0 5px;
}
body .card .card-body .btnPanier {
  position: fixed;
  top: 350px;
  right: 35px;
}
body .card .card-body .cart {
  position: fixed;
  right: 10px;
  top: 260px;
}

footer {
  height: 30px;
  border: #303030 3px;
  overflow: hidden;
}
footer .logos-footer img {
  width: auto;
  height: 75px;
}

@media screen and (max-width: 400px) {
  main {
    max-width: 400px;
  }
  header {
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
  }
  header .listTri li {
    display: block;
    margin: 10px 0;
  }
}
@media screen and (min-width: 401px) and (max-width: 1300px) {
  main {
    min-width: 400px;
  }
  main section {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: first baseline;
  }
  header {
    width: 100%;
    max-width: 1300px;
    flex-wrap: nowrap;
  }
  header .logo {
    width: 275px;
    height: 275px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  header .toggle {
    position: absolute;
    right: 10px;
    top: 10px;
    transform: translateX(-50%);
  }
  header .listTri .listTri {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  header .listTri .listTri li {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.toggle {
  --width: 80px;
  --height: calc(var(--width) / 3);
  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: var(--height);
  cursor: pointer;
}

.toggle input {
  display: none;
}

.toggle .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--height);
  background-color: grey;
  transition: all 0.4s ease-in-out;
  background-image: url("/images/sun.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.toggle .slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--height));
  height: calc(var(--height));
  border-radius: calc(var(--height) / 2);
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}

.toggle input:checked + .slider {
  background-color: white;
  transition: all 0.4s ease-in-out;
  background-image: url("/images/moon.svg");
  background-repeat: no-repeat;
  background-position: left;
}

.toggle input:checked + .slider::before {
  transform: translateX(calc(var(--width) - var(--height)));
}

main {
  background-color: #ffffff;
  color: #333333;
}

main.dark-mode {
  background-color: #333333;
  width: 400px;
  color: #ffffff;
}

#cart {
  background-image: url(/images/cart_a.svg);
  background-size: 82px;
  opacity: 75%;
  height: 80px;
  width: 80px;
  background-repeat: no-repeat;
  position: fixed;
  top: 170px;
  right: 35px;
}
#cart #checkout {
  visibility: hidden;
}

.listTri {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0 20px;
}
.listTri li {
  border: 2px solid yellow;
  border-radius: 10px 10px 10px 10px;
  background-color: rgba(245, 245, 245, 0.664);
  padding: 0 3px;
  text-align: center;
  color: black;
  font-size: 12px;
  cursor: pointer;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  width: 70px;
}

.btnPanier {
  width: 75px;
  height: 30px;
  margin: 0 auto;
  color: white;
  background-color: #333333;
  border-radius: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  position: fixed;
  top: 0;
  right: 20px;
  border: solid3;
}

::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-image: url("/images/header_background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: row;
  position: relative;
  height: 275px;
  overflow: hidden;
  text-align: center;
}

.logos-header {
  display: inline-block;
  justify-content: space-between;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 260px;
  width: 260px;
  max-width: 100%;
}
.logos-header .livraison {
  height: 35px;
  width: 35px;
}
.logos-header .livraison img {
  width: 100%;
  height: 100%;
}
.logos-header .livraison .logo {
  height: 250px;
  width: auto;
  max-width: 100%;
}
.logos-header .livraison .logo img {
  width: 250px;
  height: auto;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: #303030;
  margin-top: 20px;
}

.toggle {
  position: absolute;
  top: 10px;
  right: 0;
  transform: translateX(-50%);
  height: 25px;
}

.listTri {
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  font-size: 8px;
  font-weight: bold;
  color: white;
  white-space: nowrap;
}

/*.listTri ul {
  display: ;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}*/
.listTri li {
  display: inline;
  margin: 0 10px;
  padding: 0;
}

body {
  max-width: 1300px;
  margin: 0;
  padding: 0;
  font-family: fantasy;
  font-size: 12px;
}
body aside {
  height: 320px;
  width: 125px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: wheat;
  border: solid 3px rgb(80, 80, 80);
}
body main {
  height: auto;
  display: flex;
  padding-top: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px 10px;
}
body .card {
  width: 250px;
  height: 360px;
  margin: 25px 25px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: rgba(170, 170, 170, 0.699);
  box-shadow: 0px 0px 10px 0px #000;
}
body .card .img {
  height: 130px;
  width: 250px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: white;
  border-radius: 5px 5px 0px 0px;
}
body .card .card-body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  height: 230px;
}
body .card .card-body .h2 {
  font-size: 2em;
  font-weight: 500;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  -webkit-text-decoration: underline rgb(48, 48, 48);
          text-decoration: underline rgb(48, 48, 48);
  line-height: 50px;
  color: rgb(75, 75, 75);
  text-align: center;
  margin: 0 8px 10px 8px;
}
body .card .card-body .item {
  margin: 5px 0;
  text-align: center;
  line-height: 20px;
  font-size: 1.3em;
  padding: 0 5px;
}
body .card .card-body .btnPanier {
  position: fixed;
  top: 350px;
  right: 35px;
}
body .card .card-body .cart {
  position: fixed;
  right: 10px;
  top: 260px;
}

footer {
  height: 30px;
  border: #303030 3px;
  overflow: hidden;
}
footer .logos-footer img {
  width: auto;
  height: 75px;
}

@media screen and (max-width: 400px) {
  main {
    max-width: 400px;
  }
  header {
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
  }
  header .listTri li {
    display: block;
    margin: 10px 0;
  }
}
@media screen and (min-width: 401px) and (max-width: 1300px) {
  main {
    min-width: 400px;
  }
  main section {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: first baseline;
  }
  header {
    width: 100%;
    max-width: 1300px;
    flex-wrap: nowrap;
  }
  header .logo {
    width: 275px;
    height: 275px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  header .toggle {
    position: absolute;
    right: 10px;
    top: 10px;
    transform: translateX(-50%);
  }
  header .listTri .listTri {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  header .listTri .listTri li {
    flex: 0 0 50%;
    max-width: 50%;
  }
}/*# sourceMappingURL=main.css.map */