/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body header {
  height: 30vh;
  background: linear-gradient(20deg, rgba(203, 203, 203, 0.693), rgba(238, 49, 248, 0.424));
}
body header .listTri {
  float: left;
}
body main section .card {
  width: 250px;
  height: 360px;
  margin: 25px 25px;
  padding-bottom: 10px;
  border-radius: 5px;
  background: linear-gradient(20deg, rgba(203, 203, 203, 0.693), rgba(238, 49, 248, 0.424));
  box-shadow: 0px 0px 10px 0px #000;
}
body main section .card .img {
  height: 130px;
  width: 250px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: white;
  border-radius: 5px 5px 0px 0px;
  background-color: rgba(0, 0, 0, 0.174);
}

body {
  background-color: #ffffff;
  color: #333333;
}
body .dark-mode {
  background-color: #333333;
  color: #ffffff;
}
body header #darkmode {
  display: none;
}
body header .back {
  margin: 30px;
  height: 30px;
  width: 70px;
  border-radius: 30px;
  background: #333333;
  position: relative;
}
body header .back .boule {
  position: absolute;
  align-items: center;
  margin: 4px 0 0 4px;
  background-color: white;
  height: 20px;
  width: 20px;
  border-radius: 30px;
}

.listTri {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.listTri li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  border: solid 3px white;
  border-radius: 10px 10px 0 0;
  background-color: rgba(186, 82, 153, 0.5843137255);
  box-shadow: 0 -3px 3px 3px rgba(0, 0, 0, 0.185);
  padding: 5px;
  font-size: 1.5em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-transform: capitalize;
  cursor: pointer;
  float: left;
  padding: 5px;
}

body header {
  height: 30vh;
  background: linear-gradient(20deg, rgba(203, 203, 203, 0.693), rgba(238, 49, 248, 0.424));
}
body header .listTri {
  float: left;
}
body main section .card {
  width: 250px;
  height: 360px;
  margin: 25px 25px;
  padding-bottom: 10px;
  border-radius: 5px;
  background: linear-gradient(20deg, rgba(203, 203, 203, 0.693), rgba(238, 49, 248, 0.424));
  box-shadow: 0px 0px 10px 0px #000;
}
body main section .card .img {
  height: 130px;
  width: 250px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: white;
  border-radius: 5px 5px 0px 0px;
  background-color: rgba(0, 0, 0, 0.174);
}/*# sourceMappingURL=main.css.map */