/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  padding-top: 40px;
  width: 400px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background-image: url("/images/header_background.png");
  background-position-x: -700px;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-color: rgba(127, 255, 212, 0.575);
}
header .logo {
  height: 200px;
  width: 200px;
  transform: scale(1.3);
  position: relative;
}
header h1 {
  text-align: center;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: #303030;
}
header .toggle {
  margin: 25px 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: fantasy;
  font-size: 12px;
}

main {
  height: auto;
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  width: 250px;
  height: 360px;
  margin: 25px 25px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: rgba(170, 170, 170, 0.699);
  box-shadow: 0px 0px 10px 0px #000;
}

.img {
  height: 130px;
  width: 250px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: white;
  border-radius: 5px 5px 0px 0px;
}

.card-body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  height: 230px;
}
.card-body .h2 {
  font-size: 2em;
  font-weight: 500;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  -webkit-text-decoration: underline rgb(48, 48, 48);
          text-decoration: underline rgb(48, 48, 48);
  line-height: 50px;
  color: rgb(75, 75, 75);
  text-align: center;
  margin: 0 8px 10px 8px;
}
.card-body .item {
  margin: 5px 0;
  text-align: center;
  line-height: 20px;
  font-size: 1.3em;
  padding: 0 5px;
}

aside {
  display: none;
  height: 40%;
  width: 35%;
  right: 0;
  position: fixed;
  background: gray;
  border: solid 3px rgb(80, 80, 80);
}

@media screen and (max-width: 400px) {
  main {
    max-width: 400px;
  }
}
@media screen and (min-width: 400px) {
  main {
    min-width: 400px;
  }
  main section {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: first baseline;
  }
}
.toggle {
  --width: 80px;
  --height: calc(var(--width) / 3);
  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: var(--height);
  cursor: pointer;
}

.toggle input {
  display: none;
}

.toggle .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--height);
  background-color: #ccc;
  transition: all 0.4s ease-in-out;
}

.toggle .slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--height));
  height: calc(var(--height));
  border-radius: calc(var(--height) / 2);
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}

.toggle input:checked + .slider {
  background-color: #2196f3;
}

.toggle input:checked + .slider::before {
  transform: translateX(calc(var(--width) - var(--height)));
}

main {
  background-color: #ffffff;
  color: #333333;
}

main.dark-mode {
  background-color: #333333;
  width: 400px;
  color: #ffffff;
}

/*/.listTri {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    text-transform: capitalize;
    cursor: pointer;
    float: left;
    border: 0.5px solid lightgray;
    padding: 5px;
  }
}*/
#cart {
  background-image: url(/images/cart_a.svg);
  background-size: 80px;
  opacity: 75%;
  height: 80px;
  width: 80px;
  background-repeat: no-repeat;
  position: fixed;
  top: 10px;
  right: 0;
}
#cart #checkout {
  visibility: hidden;
}

.listTri {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0 20px;
}
.listTri li {
  border: 2px solid rgba(0, 0, 0, 0.849);
  border-radius: 10px 10px 10px 10px;
  background-color: rgba(245, 245, 245, 0.664);
  padding: 0 3px;
  text-align: center;
  color: #353535;
  font-size: 1.5em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  width: 70px;
}

.btnPanier {
  width: 38%;
  height: 30px;
  margin: 0 auto;
  color: white;
  background-color: #333333;
  border-radius: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  padding-top: 40px;
  width: 400px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background-image: url("/images/header_background.png");
  background-position-x: -700px;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-color: rgba(127, 255, 212, 0.575);
}
header .logo {
  height: 200px;
  width: 200px;
  transform: scale(1.3);
  position: relative;
}
header h1 {
  text-align: center;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: #303030;
}
header .toggle {
  margin: 25px 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: fantasy;
  font-size: 12px;
}

main {
  height: auto;
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  width: 250px;
  height: 360px;
  margin: 25px 25px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: rgba(170, 170, 170, 0.699);
  box-shadow: 0px 0px 10px 0px #000;
}

.img {
  height: 130px;
  width: 250px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: white;
  border-radius: 5px 5px 0px 0px;
}

.card-body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  height: 230px;
}
.card-body .h2 {
  font-size: 2em;
  font-weight: 500;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  -webkit-text-decoration: underline rgb(48, 48, 48);
          text-decoration: underline rgb(48, 48, 48);
  line-height: 50px;
  color: rgb(75, 75, 75);
  text-align: center;
  margin: 0 8px 10px 8px;
}
.card-body .item {
  margin: 5px 0;
  text-align: center;
  line-height: 20px;
  font-size: 1.3em;
  padding: 0 5px;
}

aside {
  display: none;
  height: 40%;
  width: 35%;
  right: 0;
  position: fixed;
  background: gray;
  border: solid 3px rgb(80, 80, 80);
}

@media screen and (max-width: 400px) {
  main {
    max-width: 400px;
  }
}
@media screen and (min-width: 400px) {
  main {
    min-width: 400px;
  }
  main section {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: first baseline;
  }
}/*# sourceMappingURL=main.css.map */